In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sb

Create a DataFrame from the file pupils-ex.csv

Use head,describe and info to explore the data

Find correlation

Create a heatmap from the correlation

Create a countplot from the Age column

Create a countplot with 'rooms' in x and 'type' as hue

Create a factorplot with the columns: rooms,type,gen use 'count' as kind

Create a distribution plot (from seaborn) for the 'Age'

Create histogram using pandas for the 'income'

Create a boxplot with 'rooms' as x and 'Age' as y

Find the outlier value in 3 rooms

Create means dataframe group by Age

Change the outlier Age (using the Height)

Create the boxplot again

Create heatmap for the dataframe isnull value (T/F) <br>
set both yticklabels and cbar to False

Drop the Country column

Find the average height for each age and fill the missing height values<br>
Loop over the dataframe using iterrows

Create the heatmap again

Change the 'gen' column to 'M' - 1 , 'F' - 2

Find the 'type' col value counts

Create a dummy variables for type, Add to the data frame and remove the original type col

Convert the continuous 'income' variable to 3 discrete vals